<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
    	<!--  <class name="RitMoodleLoginTestNG"/>     
    	<class name="RitMoodleLoginTestNG2"/>-->
    	
    	<!--  <class name="TestScript.RitMoodleLoginTest"/>-->
    	
    	<class name="TestNG_Practice.AssertDemo"/>
    	<class name="TestNG_Practice.DependsOnMethodsDemo"/>
    	
    	<class name="TestNG_Practice.InvocationCountTest"/>
    	<class name="TestNG_Practice.PriorityAndGroups"/>
    	
    	
    	
    	
    	
   	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
